@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    display: flex;
    margin: 0;
    background-color: #0C0C0C;

    flex-direction: column;
    gap: 50px;
    align-items: center;

}


.content {
    font-family: 'Poppins-Regular';
    font-size: 1rem;

    background: #4E4389;
    border-radius: 10px;

    width: 140vh;
    height: 90vh;

}

.content-escrito {
    display: flex;
    flex-direction: row;
}

.content h1 {
    color: white;
    text-align: center;
}

.content form {
    width: 60vh;
}

.div-inpts {
    padding: 3vh 4vh;
}

.inptSmall {
    width: 26.8vh;
}

.inptLarge {
    width: 55vh;
}

.inptPadrao {
    background-color: white;
    border-radius: 5px;
    border: none;
    
    padding: 0.3vh;
    height: 5.5vh;

    justify-content: center;
    margin-bottom: 4vh;

}


.inptPadrao:focus+label,
.inptPadrao:not(:placeholder-shown)+label {
    transform: translate(-0.2em) translateY(-0.6em) scale(0.8);
}


/*Labels*/

form {
    position: relative;
}

label {
    position: absolute;
    left: 1vh;
    top: 1.5vh;
    color: #686868;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
}

.label-nascimento {
    left: 1vh;
    top: 11.45vh;
}

.label-cargahoraria {
    left: 29vh;
    top: 11.45vh;
}

.label-email {
    left: 1vh;
    top: 41.6vh;
}


.label-senha {
    left: 1vh;
    top: 51.6vh;
}



/*Selects*/


.sel-padrao {
    background-color: white;
    border: none;
    border-radius: 5px;

    width: 55vh;
    height: 6vh;
    margin-bottom: 4vh;
}

/*Imagem*/

.imagem-cadastro {
    padding-top: 10vh;
    width: 65vh;
}

/*Botão Cadastro*/

.btn-default {
    font-family: 'Poppins-Bold';
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px #D5CFF7;
    border-radius: 5px;

    width: 25vh;
    height: 5vh;
    margin-left: 15vh;
}

.btn-default:hover {

    background-color: rgba(255, 255, 255, 0.075);

    font-size: 1.15rem;
    transition: 0.5s;
    cursor: pointer;
}



/*INICIO FOOTER*/

.footer {
    background-color: #d5cff7ce;
    margin-top: 8vh;
    width: 199vh;
    height: 14vh;
}