@font-face{
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    display: flex;
    margin: 0;
    background: linear-gradient(270deg, #27063A 0%, #27063A 0%, #27063A 0.01%, #3B025C 48.54%, #431092 100%);
    background-size: cover;
    font-family: 'Poppins-Bold';

    
    flex-direction: column;
    gap: 50px;
    align-items: center;

}



/*Conteúdo*/


.content {
    font-family: 'Poppins-Regular';
    font-size: 1rem;

    background-color: rgba(247, 247, 247, 0.856);
    
    border-radius: 2px;

    width: 120vh;
    height: 70vh;

    display: flex;
    flex-direction: row;

}

.login-cor{
    width: 40vh;
    height: 70vh;
    background: linear-gradient(to left, #5f2c82, #751df8);
    margin: 0;
}

.txt-titulo{
    color: white;
    font-size: 1.3rem;
    font-family: 'Poppins-Bold';
    padding: 20px;
}

.conteudo-login{
    height: 406px;
    width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content form {
   
    width: 60vh;
    justify-content: center;
    align-items: center;
}


.img_login{
    width: 26vh;
    padding: 0;
    margin: 0;
}

.img_login_2{
    width: 35vh;
    padding-top: 2vh;
    padding-left: 20px;
}


.div-inpts {

   text-align: center;
   justify-content: center;
}


.inptPadrao {
    background-color: white;
    border-radius: 5px;
    border: none;
    padding-top: 7px;
    
    height: 5vh;
    width: 55vh;

    justify-content: center;
    margin-bottom: 4vh;

}


.inptPadrao:focus+label,
.inptPadrao:not(:placeholder-shown)+label {
    transform: translate(-0.2em) translateY(-0.6em) scale(0.8);
}


/*Labels*/

form {
    position: relative;
}

label {
    position: absolute;
    left: 1vh;
    top: 1.5vh;
    color: #686868;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
    font-family: 'Poppins-Bold'; font-size: small;
}


.label-email {
    left: 3vh;
    top: 1.7vh;
}


.label-senha {
    left: 3vh;
    top: 12vh;
}


/*Button*/


.btn-default {
    font-family: 'Poppins-Bold';
    font-size: 1rem;
    text-transform: uppercase;
    color: #3B025C;
    background-color: #5f2c82;
    border: solid 1px #D5CFF7;
    border-radius: 5px;


    text-align: center;

    width: 20vh;
    height: 5vh;
   
}

.btn-default:hover {

    background-color: #602c82ef;

    font-size: 1.15rem;
    transition: 0.5s;
    cursor: pointer;
}

.link-comum{
    color: white;
    text-decoration: none;
}
