@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #141418;
    margin: 0;
    font-family: 'Poppins-Bold';
}

.div_geral_top {
    background-color: red;
    height: 555px;
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.div_top {
    background-color: black;
    height: 95%;
    width: 45%;
    margin-top: 15px;
    text-align: center;
}

.div_txt_top {
    color: white;
    width: 95%;
    margin: 0px auto;
    background-color: #7D35B7;
    font-size: 2vw;
    border-radius: 5px;
}

.div_txt_outras_equipes {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.div_outras_equipes {
    background-color: red;
    height: 50%;
    width: 95%;
    margin: 0 auto
}