body{
    background: linear-gradient(140deg, #a27ce6 0%,  rgb(49, 2, 77) 70%), #0000 0%;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-left: 1%;
    margin-right: 1%;
    
    }
    .divheader{
        padding: 10px 0 10px 0;
        font-family: 'Poppins-Bold';
    }
    .container {
        max-width: 1000px;
        margin: 0 auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
        display: flex;
        justify-content: space-between;
    }
    .logo img {
        height: 50px;
    }
    .navbar ul {
        display: flex;
        list-style-type: none;
    }
    .navbar li {
        margin-left: 20px;
    }
    .navbar a {
        color: black;
        text-decoration: none;
        font-size: 1.1rem;
        vertical-align: -webkit-baseline-middle;
        
    }
    .navbar a:hover {
        color: white;
        font-size: 22px;
        transition-duration: 0.4s;
    }
    .navbar button {
        height: 30px;
        width: 100px;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
        color: white;
        font-family: 'Poppins-Bold';
        background-color: #5250583a;
        border: 1px solid #6253BA;
        border-radius: 5px;
        transition: 0.2s ease-in-out;
    }
    .navbar button:hover {
        background-color: black;
        border: 1px solid #4e34dd;
        font-size: 15px;
        transition-duration: 0.4s;
    }

    .mySlides{
        opacity: 62%;
        transition-duration: 3ms;

    }
    .seta_esquerda{
        margin-top: 7px;
        width: 30px;
        height: 30px;

    }
    .seta_direita{
        float:right;
        margin-right: -300px;
        margin-top: -7px;
    }