body{
    background: linear-gradient(140deg, #a27ce6 0%,  rgb(49, 2, 77) 70%), #0000 0%;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-left: 1%;
    text-align: center
    margin-right: 1%;
    
    }
    .divheader{
        padding: 10px 0 10px 0;
        font-family: 'Poppins-Bold';
    }
    .container {
        max-width: 1000px;
        margin: 0 auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
        display: flex;
        justify-content: space-between;
    }
    .logo img {
        height: 50px;
    }
    .navbar ul {
        display: flex;
        list-style-type: none;
    }
    .navbar li {
        margin-left: 20px;
    }
    .navbar a {
        color: black;
        text-decoration: none;
        font-size: 1.1rem;
        vertical-align: -webkit-baseline-middle;
        
    }
    .navbar a:hover {
        color: white;
        font-size: 22px;
        transition-duration: 0.4s;
    }
    .navbar button {
        height: 30px;
        width: 100px;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
        color: white;
        font-family: 'Poppins-Bold';
        background-color: #5250583a;
        border: 1px solid #6253BA;
        border-radius: 5px;
        transition: 0.2s ease-in-out;
    }
    .navbar button:hover {
        background-color: black;
        border: 1px solid #4e34dd;
        font-size: 15px;
        transition-duration: 0.4s;
    }

    * {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 30px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: left;
      margin-top: -30px;
      margin-left: 80px;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
    .imagens {
        opacity: 60%;
    }