*{

    color: #1B0140; /*Base*/
    color: #552D8C; /*Base*/
    color: #5D04D9; /*Base*/
    color: #361D59; /*Base*/
    color: #3C038C; /*Base*/


    color: #5704CC; /*Sombra*/
    color: #3C038C; /*Sombra*/
    color: #1B0140; /*Sombra*/
    color: #21024D; /*Sombra*/
    color: #160133; /*Sombra*/


    color: #4A024D; /*Análogas*/
    color: #3D0357; /*Análogas*/
    color: #1B0140; /*Análogas*/
    color: #0F0357; /*Análogas*/
    color: #020C4D; /*Análogas*/


    color: #fff; /*Padrão*/
    color: #000; /*Padrão*/
    color: #232323; /*Padrão*/

}