
body{
background: linear-gradient(180deg, #4813a3 0%,  rgba(61, 1, 95) 70%), #0000 0%;
background-repeat: no-repeat;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.divheader{
    padding: 10px 0 10px 0;
    font-family: 'Poppins-Bold';
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    justify-content: space-between;
}
.logo img {
    height: 50px;
}
.navbar ul {
    display: flex;
    list-style-type: none;
}
.navbar li {
    margin-left: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    vertical-align: -webkit-baseline-middle;
    
}
.navbar a:hover {
    color: #6253BA;
    font-size: 22px;
    transition-duration: 0.4s;
}
.navbar button {
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: white;
    font-family: 'Poppins-Bold';
    background-color: #5250583a;
    border: 1px solid #6253BA;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.navbar button:hover {
    background-color: black;
    border: 1px solid #4e34dd;
    font-size: 15px;
    transition-duration: 0.4s;
}
/* fim da header */

/* conteudo sobrepag */
.img_corrida{
    width: 65px;
    height: 65px;
    margin-left: 160px;
    margin-top: 70px;
}
.img_corrida:hover{
    width: 80px;
    height: 80px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.box_pergunta1{
    float: right;
    margin-left: 300px;
    color: white;
    margin-top: -120px;
    margin-bottom: 50px;
    text-align: justify;
    margin-right: 100px;
    font-size: small;

}
.img_acreditamos{
    width: 60px;
    height: 60px;
    margin-left: 160px;
    margin-top: 50px;
}


.img_acreditamos:hover{
    width: 80px;
    height: 80px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.box_pergunta2{
    float: right;
    margin-left: 300px;
    color: white;
    margin-top: -113px;
    margin-bottom: 50px;
    text-align: justify;
    margin-right: 100px;
    font-size: small;
}
.img_dev{
    width: 60px;
    height: 60px;
    margin-left: 160px;
    margin-top: 50px;
}


.img_dev:hover{
    width: 80px;
    height: 80px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.box_pergunta3{
    float: right;
    margin-left: 300px;
    color: white;
    margin-top: -100px;
    margin-bottom: 50px;
    text-align: justify;
    margin-right: 100px;
    font-size: small;
}
.linha_divisoria {
    margin-top: 90px;
    height: 15px;
    width: 990px;
    border-top: 2px solid #ffff;
    margin-left: 160px;
}
.equipe {
    color: white;
    text-align: center;
    font-size: 25px;
}
.karoll{
    width: 135px;
    height: 135px;
    margin-right: 600px;
    margin-top: 50px;
    cursor: pointer;
}
.container {
    position: relative;
    width: 50%;
    float: right;

  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 22%;
    opacity: 0;
    transition: .3s ease-in-out;
    background-color: #ffff;
    border-radius: 50%;
  }
  
  .container:hover .overlay {
    opacity: 2;
    cursor: pointer;
  }
  
  .text {
    color: #4813a3;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .amanda{
    width: 135px;
    height: 135px;
    margin-top: -180px;
    float:right;
    
}

.guilherme {
    width: 135px;
    height: 135px;
    margin-top: -150px;
    float: right;
    margin-right: 480px;
}
.matheus {
    width: 135px;
    height: 135px;
}
.rony{
    width: 135px;
    height: 135px;
}

.danilo {
    width: 135px;
    height: 135px;
}

