/* 

.cor-principal { color: #8375D2 }   -Cor principal
.color-primary-1 { color: #D5CFF7 }
.color-primary-2 { color: #AA9FE7 }
.color-primary-3 { color: #6253BA }
.color-primary-4 { color: #4837A4 }

.cor-complementar{ color: #FFE57E }   -Cor complementar
.color-complement-1 { color: #FFF5D0 }
.color-complement-2 { color: #FFEDA4 }
.color-complement-3 { color: #FFDE5D }
.color-complement-4 { color: #EDC839 }

*/


body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #AA9FE7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.header {
  background-color: #8375D2;
  width: 100%;
  height: 120px;
}

.caixa {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 80px;
}

.header nav {
  float: right;
}

ul {
  list-style: none;
}

ul li:hover {
  color: #FFE57E;
  font-size: 22px;
}

ul li {
  font-family: PT Sans, sans-serif, Impact;
  color: #fffff0;
  display: inline;
  margin-left: 22px;
  font-size: larger;
  transition-duration: 0.4s;
  cursor: pointer;
}

a {
  text-decoration: none;
}



/* Content */
.caixaPai {
  width: 90%;
  height: 860px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
}

.caixaFilho1 {
  width: 45%;
  height: 700px;
  background-color: #8375D2;
  margin-right: 10%;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.caixaFilho2 {
  width: 45%;
  height: 700px;
  background-color: #8375D2;
  text-align: center;
  border-radius: 20px;
}

.boxFaixa {
  margin-top: 5%;
  width: 90%;
  height: 80px;
  background-color: #AA9FE7;
  margin-left: 5%;
  font-size: 180%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fffff0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.boxFaixa:hover {
  background-color: #4837A4;
  transition: 0.5s;
}

.imgMulher {
  margin-top: 4%;
  height: 40%;
}

.imgSeta{
  height: 90%;
  margin-left: 5%;
  cursor: pointer;
  opacity: 1;
}

.boxOrganizadora {
  display: flex;
  align-items: center;
}

.boxQuadrado1 {
  margin-top: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
  width: 40%;
  height: 164px;
  background-color: #AA9FE7;
  margin-left: 7%;
  margin-right: 3%;
  font-size: 180%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fffff0;
  text-align: center;
  border-radius: 10px;
}

.boxQuadrado2 {
  margin-top: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
  width: 40%;
  height: 164px;
  background-color: #AA9FE7;
  margin-left: 2%;
  font-size: 180%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fffff0;
  text-align: center;
  border-radius: 10px;
}

.btn-default-Home {
  background-color: #4837A4;
  color: #fffff0;
  border: 0;
  height: 45px;
  width: 80%;
  border-radius: 70px;
  font-size: 22px;
  margin-top: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-default-Home:hover {
  color: #4837A4;
  background-color: #FFE57E;
  cursor: pointer;
  transition: 0.5s;
}


/* Footer */
.footer {
  background-color: #8375D2;
  width: 100%;
  height: 300px;
}

.footer b {
  font-family: PT Sans, sans-serif, Impact;
  color: #fffff0;
  font-size: larger;
}


.caixaFooter {
  max-width: 90%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-default {
  background-color: #4837A4;
  color: #fffff0;
  border: 0;
  height: 45px;
  width: 200px;
  border-radius: 70px;
  font-size: 22px;
  margin: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-default:hover {
  color: #4837A4;
  background-color: #FFE57E;
  cursor: pointer;
  transition: 0.5s;
}



/* Configurações da barra de rolagem */
::-webkit-scrollbar {
  height: 20px;
  background-color: #AA9FE7;

}

::-webkit-scrollbar-thumb {
  background-color: #8375D2;
  border-radius: 10px;
}