@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    background-color: #0C0C0C;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Title */
.h1_up {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-family: 'Poppins-Bold';
    margin-top: 50px;
}

/* Organizadora de boxes */
.div_alinhadora {
    width: 80%;
    height: 100%;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

/* Membros online */
h2 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Poppins-Bold';
    margin-top: 50px;
    padding-bottom: 1%;
}

.div_online_fundo {
    width: 40%;
    height: 400px;
    background-image: linear-gradient(to bottom, #6010AF, #DB00FF);
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

.div_online {
    width: 90%;
    height: 360px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    border-radius: 20px;
    overflow-y: auto;
}

.nome_funcionario {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Poppins-Bold';
    transition: 0.5s;
}

.nome_funcionario:hover {
    cursor: pointer;
    color: rgb(251, 134, 255);
}

/* Componentes */
.div_componentes_fundo {
    width: 55%;
    height: 400px;
    background-image: linear-gradient(to bottom, #6010AF, #DB00FF);
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

.div_componentes {
    width: 100%;
    height: 360px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    overflow-y: auto;
}

.button_componentes {
    width: 20%;
    height: 8%;
    background-color: #ffffff;
    color: rgb(251, 134, 255);
    border-radius: 5px;
    border-style: none;
    font-size: 100%;
    font-family: 'Poppins-Bold';
    transition: 0.5s;
    margin-bottom: 4%;
}

.button_componentes:hover {
    background-color: rgb(251, 134, 255);
    color: #ffffff;
    cursor: pointer;
}

/* Configurações da barra de rolagem */
::-webkit-scrollbar {
    height: 20px;
    background-color: none;
    opacity: 0.4;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}