@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    background-color: #0C0C0C;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Title */
.h1_up {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-family: 'Poppins-Bold';
    margin-top: 50px;
}
.h1_down {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-family: 'Poppins-Bold';
}

/* Membros online */
h2 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Poppins-Bold';
    margin-top: 50px;
}

.div_online {
    width: 80%;
    height: 128px;
    background-image: linear-gradient(to bottom, #6010AF, #DB00FF);
    margin-top: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.div_online_organizadora {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.div_online_content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.div_online_content h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Poppins-Bold';
}

/* Divisória */
.div_divisora {
    height: 3px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin-top: 80px
}

.h2_alt {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Poppins-Bold';
    margin-top: 42px;
    margin-right: 10px;
}