/*INÍCIO HEADER*/

/* Configurações da barra de rolagem */
::-webkit-scrollbar {
  height: 20px;
  background-color: none;
  opacity: 0.4;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

.divHeader {
    font-family: 'Poppins-Bold';
    text-transform: uppercase;
  
    justify-content: center;
    display: flex;
    align-items: center;
  
    padding-top: 5vh;
    height: 10vh;
    width: 100%;
  
  }
  
  .container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
  }
  
  /*Imagem*/
  
  .divImagem img {
    cursor: pointer;
    width: 20vh;
  
  }
  
  
  
  /*Lista*/
  
  .divLista ul {
    list-style: none;
    margin: 0;
    padding: 4% 0;
  
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
  }
  
  .divLista li {
  
    display: flex;
    font-size: 1rem;
    text-decoration: none;
    color: white;
  
    flex-direction: row;
    cursor: pointer;
  
  }
  
  
  .divLista li:hover {
    font-size: 1.1rem;
    transition: 0.5s;
    color: rgb(98, 83, 186);
  
  }
  
  .li-select {
    text-decoration: none;
    color: #9c5bff;
  }
  
  .li-comum {
    text-decoration: none;
    color: white;
  }
  
  
  .li-comum:hover {
    color: #9c5bff;
  }
  
  
  /*Button*/
  
  
  .divButtonHeader button {
    text-transform: uppercase;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px white;
    ;
    border-radius: 5px;
    text-align: center;
  
    margin-top: 15%;
    width: 15vh;
    height: 5vh;
    font-family: 'Poppins-Bold';
    font-size: 1rem;
  }
  
  .divButtonHeader button:hover {
  
    background-color: rgba(255, 255, 255, 0.137);
    font-size: 1.1rem;
    transition: 0.5s;
    cursor: pointer;
  
  }
  
  
  /*FIM HEADER*/