@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
}


/*Desktop*/

body {
    font-family: 'Poppins-Regular';
    font-size: 1rem;
    background-image: linear-gradient(to left, #be9cfa 2.2%, rgba(97, 3, 151, 0.801) 37.73%, #441092f6 64.49%);
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

.li-select{
    color: white;
}

.linha-branca-divisoria{
    width: 90vw;
    height: 0.1vh;
    background-color: white;
    
}

.sloganDevTime{
    font-family: 'Poppins-Bold';
    font-size: 1.6rem;
    color: white;
    position: absolute;
    top: 30vh;
}

/* BANNER */

.divBanner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: all 0.4s;
}

.slides{
    display: flex;
    /* width: 5120px; */
    width: 1024px;
}

.image img {
    width: 1024px;
    height: 500px;
}

#atual {
    transition: all 2s;
}

.btn {
    position: absolute;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    margin-top: -5px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.img-seta {
    width: 0px;
}

.img-seta-esq {
    width: 50px;
}

#voltar{
    top: 33%;
    left: 1%;
}

#next {
    top: 33%;
    right: 1%;
}

.balls {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    top: 430px;
    left: 600px;
    margin-bottom: 15px;
}

.balls div{
    transition: all 0.5s;
    border: 3px solid #fff;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.balls div:hover{
    background-color: #fff;
    cursor: pointer;
}

.imgAtual {
    transition: all 0.5s;
    background: #fff;
    
}

/*INICIO PROPOSTA DEVTIME*/

.divProposta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5vh;
    padding-top: 10vh;
    margin-bottom: 60px;
}

.imgDev {
    width: 270px;
}

.txtProposta{
    color: white;
    font-family: 'Poppins-Bold';
    max-width: 60%;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
}

.divCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(245, 241, 241);
    margin: 5px;
    padding: 8px;
    box-shadow: 10px -5px #33055e;
    height: 230px;
    width: 300px;
    border-radius: 2px;
}

.card:hover {
    height: 235px;
    width: 305px;
    transition: 0.5s;
    cursor: pointer;
}

.imgProposta{
    margin-top: 10px;
    border-radius: 60px;
    width: 100px;
}


/*INICIO PARCEIROS*/
.txtEmpresas{
    color: white;
    font-family: 'Poppins-Bold';
    max-width: 50%;
    font-size: 1.3rem;
    text-align: center;
}

.divParceiros{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 80%;
}

.divImgParceiros{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgParceiro{
    width: 150px;
}

.vale{
    width: 180px;
    filter: grayscale(100%);
}

.amazon{
    width: 130px;
    padding-top: 10px;
    filter: grayscale(100%);
}

.accenture {
    padding-bottom: 15px;
    filter: grayscale(100%);
}

.microsoft{
    filter: grayscale(100%);
}

.alpe{
    filter: grayscale(100%);
    transition: 2s;
}

.imgParceiro:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    filter: none;
}

/*INICIO CARDS SERVIÇOS DEVTIME*/

.tituloServico{
    color: white;
    font-family: 'Poppins-Bold';
    font-size: 1.3rem;
    margin-bottom: 5vh;
}

.servicosDevTime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding-top: 10vh;
}

.divServico {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.cardServico {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    background-color: rgba(255, 255, 255, 0.904);
    height: 55vh;
    width: 23vw;
    border-radius: 10px;
}

.imgServicos{
    margin-top: 7vh;
    width: 7vw;
}


.cabecalhoCardServico{
    display: flex;
    background-image: linear-gradient(to top, #5f2c82, #751df8);
    width: 23vw;
    height: 9vh;
    font-family: 'Poppins-Bold';
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 7px 7px 0px 0px;
}

.textoServicos {
    color: #232323;
    font-family: 'Poppins-Bold';
    text-align: center;
}

.tituloServicoFinal{
    margin-top: 2vh;
}

.fimServico{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.imgServicoFinal{
    width: 100px;
}

.imgServicoFinal:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
/*FIM CARDS SERVIÇOS DEVTIME*/


/*FOOTER*/

.responsiveFooter {
    display: flex;
    flex-direction: column;
}

.responsiveFooter h3 {
    text-align: center;
}

.company {
    text-align: center;
}

.footer {
    background: black;
    color: white;
    width: 100%;
}

.responsiveFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.company img {
    height: 30px;
    margin-top: 15px;
}

.copyright {
    font-size: small;
}

/* Configurações da barra de rolagem */
::-webkit-scrollbar {
    height: 20px;
    background-color: none;
    opacity: 0.4;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

/* Tablet */
@media only screen and (max-width: 768px){

    .balls {
        top: 520px;
        left: 310px;
    }

    .balls div{
        padding: 10px;
        margin-right: 40px;
    }

    .divProposta{
        padding-top: 5vh;
    }

    .divImgParceiros{
        gap: 25px;
    }

    .slide{
        width: 768px;
    }

    .imgParceiro {
        width: 115px;
    }

    .tituloServico {
        margin-bottom: -2vh;
    }

    .imgServicos {
        margin-top: 2vh;
    }

    .image img{
        width: 768px;
    }

    .cardServico {
        height: 26vh;
        padding-bottom: 1vh;
    }

    .divCards {
        justify-content: center;
    }

    .servicosDevTime{
        padding-top: 5vh;
    }
}

/* Laptop */
@media only screen and (min-width: 1024px){

    .balls {
        top: 520px;
        left: 460px;
    }

    .divProposta{
        padding-top: 6vh;
    }

    .imgParceiro {
        width: 115px;
    }

    .tituloServico {
        margin-bottom: -2vh;
    }

    .imgServicos {
        margin-top: 2vh;
    }

    .cardServico {
        height: 37vh;
        padding-bottom: 1vh;
    }

    .divCards {
        gap: 13px;
        flex-wrap: nowrap;
    }

    .servicosDevTime{
        padding-top: 5vh;
    }
}

/* HD */
@media only screen and (min-width: 1280px){

    .balls {
        top: 700px;
        left: 600px;
    }

    .slide{
        width: 1280px;
        height: 47vh;
    }

    .imgParceiro {
        width: 115px;
    }

    .tituloServico {
        margin-bottom: -2vh;
    }

    .imgServicos {
        margin-top: 2vh;
    }

    .cardServico {
        padding-bottom: 2vh;
    }

    .divCards {
        gap: 30px;
        flex-wrap: nowrap;
    }

    .image img{
        width: 1280px;
    } 

    .servicosDevTime{
        padding-top: 5vh;
    }
}

@media only screen and (min-width: 1304px){
    .image img{
        width: 1360px;
    }

    .slide{
        width: 1304px;
    }
}

@media only screen and (min-width: 1356px){
    .image img{
        width: 1356px;
    }

    .slide{
        width: 1356px;
    }

    .balls{
        left: calc(149% - 1356px);
    }

    .sloganDevTime{
        top: 34vh;
    }

    .cardServico{
        height: 40vh;
    }
}

/* Laptop Large */
@media only screen and (min-width: 1440px){
    .image img{
        width: 1440px;
    }

    .slide{
        width: 1440px;
    }

    .balls{
        left: calc(149% - 1440px);
    }

    .sloganDevTime{
        top: 34vh;
    }

    .cardServico{
        height: 30vh;
    }

    .card{
        height: 240px;
    }
    .card:hover{
        height: 244px;
    }

}

/* Full HD */
@media only screen and (min-width: 1920px){
    .divCards{
        gap: 50px;
    }

    .balls{
        left: calc(149% - 1920px);
        top: 680px;
    }

    .cardServico{
        height: 33vh;
    }

    .slide{
        width: 100%;
        height: 47vh;
    }

    .slides{
        width: 1910px;
    }

    .divProposta{
        padding: 0;
    }

    .image img{
        width: 1920px;
    }

    .sloganDevTime{
        top: 35vh;
    }

}

