@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #27063A 0%, #27063A 0%, #27063A 0.01%, #3B025C 48.54%, #431092 100%);
    background-size: cover;
    font-family: 'Poppins-Bold';


    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100vw;

}



/*Conteúdo*/


.content {
    font-family: 'Poppins-Regular';
    font-size: 1rem;

    background-color: rgba(247, 247, 247, 0.856);

    border-radius: 2px;

    width: 60vw;
    height: 70vh;

    display: flex;
    flex-direction: row;

}

.login-cor {
    width: 20vw;
    height: 70vh;
    background: linear-gradient(to left, #5f2c82, #751df8);
    margin: 0;
}

.txt-titulo {
    color: white;
    font-size: 1.3rem;
    font-family: 'Poppins-Bold';
    padding: 3vh 2vh;
}

.conteudo-login {
    height: 60vh;
    width: 38vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content form {

    width: 30vw;
    justify-content: center;
    align-items: center;
}


.img_login {
    width: 14vw;
    padding: 0;
    margin: 0;
}

.img_login_2 {
    width: 18vw;
    padding-top: 2vh;
    padding-left: 1vw;
}


.div-inpts {
    text-align: center;
    justify-content: center;
}


.inptPadrao {
    background-color: white;
    border-radius: 5px;
    border: none;
    padding-top: 1vh;

    height: 5vh;
    width: 27.5vw;

    justify-content: center;
    margin-bottom: 4vh;
    cursor: pointer;

}


.inptPadrao:focus+label,
.inptPadrao:not(:placeholder-shown)+label {
    transform: translate(-0.2em) translateY(-0.6em) scale(0.8);
}


/*Labels*/

form {
    position: relative;
}

label {
    position: absolute;
    left: 2vw;
    top: 1.5vh;
    color: #686868;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
    font-family: 'Poppins-Bold';
    font-size: small;
}





.label-senha {
    top: 11.7vh;
}


/*Button*/


.btn-default {
    font-family: 'Poppins-Bold';
    font-size: 1rem;
    text-transform: uppercase;
    color: #3B025C;
    background-color: #5f2c82;
    border: solid 1px #D5CFF7;
    border-radius: 5px;


    text-align: center;

    width: 10vw;
    height: 5vh;

}

.btn-default:hover {

    background-color: #602c82ef;

    transform: scale(1.03);
    transition: 0.5s;
    cursor: pointer;
}

.link-comum {
    color: white;
    text-decoration: none;
}








/*TABLET*/
@media only screen and (max-width: 768px) {

    .content {
        border-radius: 2px;

        width: 70vw;
        height: 55vh;
    }


    .login-cor {
        width: 20vw;
        height: 55vh;
    }

    .txt-titulo {
        font-size: 1.0rem;
        padding: 1vh 1vh;
    }

    .conteudo-login {
        height: 55vh;
        width: 50vw;
    }

    .content form {
        width: 30vw;
    }


    .img_login {
        width: 12vw;
    }

    .img_login_2 {
        width: 18vw;
        padding-top: 2vh;
        padding-left: 1vw;
    }


    .inptPadrao {
        border-radius: 3px;
        padding-top: 1vh;

        height: 3vh;
        width: 27.5vw;

        margin-bottom: 2vh;

    }


    /*Labels*/


    label {
        left: 1.5vh;
        font-size: 0.7rem;
    }


    .label-email {
        top: 1vh;
    }


    .label-senha {
        top: 6.8vh;
    }


    /*Button*/


    .btn-default {
        font-size: 0.7rem;
        border-radius: 3px;
 
        width: 8vw;
        height: 4vh;

    }

    .btn-default:hover {
        transform: scale(0.8);
        transition: 0.5s;

    }
}


/*Celular*/


@media only screen and (max-width: 600px) {
    
    .content {
        border-radius: 2px;

        width: 80vw;
        height: 40vh;
    }


    .login-cor {
        width: 30vw;
        height: 40vh;
    }

    .txt-titulo {
        font-size: 0.7rem;
        padding: 1vh 1vh;
    }

    .conteudo-login {
        height: 37vh;
        width: 50vw;
    }

    .content form {
        width: 30vw;
    }


    .img_login {
        width: 20vw;
    }

    .img_login_2 {
        width: 27vw;
        padding-top: 5vh;
        padding-left: 1vw;
    }


    .inptPadrao {
        border-radius: 3px;
        padding-top: 1vh;

        height: 1.5vh;
        width: 30vw;

        margin-bottom: 1vh;

    }


    /*Labels*/


    label {
        left: 1vh;
        font-size: 0.5rem;
    }


    .label-email {
        top: 0.5vh;
    }


    .label-senha {
        top: 4.2vh;
    }


    /*Button*/



    .btn-default {
        font-size: 0.5rem;
        border-radius: 3px;
        text-align: center;
        margin: 0;
        padding-top: 1px;
 
        width: 15vw;
        height: 2.5vh;

    }

    .btn-default:hover {
        transform: scale(0.6);
        transition: 0.5s;

    }
}

