/*CORES BASE FUNDO*/

*{  
                                           /*BACKGROUNDS COLORS*/

    /*FUNDO ÁREA USUÁRIO PADRÃO*/
    color:#0C0C0C;

    /*FUNDO LOGIN*/
    background: linear-gradient(270deg, #27063A 0%, #27063A 0%, #27063A 0.01%, #3B025C 48.54%, #431092 100%);

    /*FUNDO SOBREPAGE*/
    background: linear-gradient(100deg, #987fc4 0%, #7647c7 0%, #987fc4 0.01%, rgb(81, 10, 122) 48.54%, #4b11a1 100%);
    
                                               /*BACKGROUND DIVS COLORS*/

    /*MAIS CLARO*/
    background-image: linear-gradient(to bottom, #6010AF, #DB00FF);

    /*MÉDIO*/
    background: linear-gradient(to left, #5f2c82, #751df8);

    /*MAIS ESCURO*/
    background: linear-gradient(to top, #7100a5, #4A024D);


    /*CORES PARA ELEMENTOS*/

    background-color: #5d04d99a;
    background-color: #5d04d9dc;
    background-color: #002c4d94;
    background-color: #002c4de3;
    background-color: #b68bff;
    background-color: #a26cff;
    color: rgb(40, 1, 63);

    /*CORES PARA FOOTER*/

    background: linear-gradient(140deg, #a27ce6 0%, rgb(49, 2, 77) 70%), #0000 0%;

    background: linear-gradient(to top, #27063A 0%, #27063A 0%, #27063A 0.01%, #3B025C 48.54%, #431092 100%);
}

/* Configurações da barra de rolagem */
::-webkit-scrollbar {
    height: 20px;
    background-color: none;
    opacity: 0.4;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}