.div-conquista-usuario {
    font-size: 1rem;
    border: solid 2px #7D35B7;
    margin-bottom: 10px;
    padding: 5px;
}

.div_conquistas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    margin: 5px;
 
   

}

.btn-finalizar{
    background-color: rgb(34, 211, 34);
    color: white;
    width: 50px;
    height: 10px;
    font-size: 0.9rem;
    cursor: pointer;
   
}

.img-conquista{
    width: 20px;
    margin: 0;
    padding: 0;
}

.div_conquistas_finalizar{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inpt_conquista_apagar{
    width: 250px;
    height: 30px;
}

.finalizada {
    background-color: gray;
}


.btn_Finalizar{
    background-color:#7D35B7 ;
    color: white;
    font-size: 1.05rem;
    width: 5.2vw;
    height: 3vh;
    cursor: pointer;
}

.btn_Finalizar:hover{
    font-size: 1.1rem;
    transition: 0.5s;
}