body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 200px;
}

.header {
    padding: 5px 0px;
}

.header li:hover {
    font-size: 22px;
    transition: 0.5s;
}

/*INÍCIO CONTENT*/

.caixa-conteudo-login {
    width: 100%;
    height: 62vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    background-color: #8375D2;
    width: 800px;
    height: 450px;
    border-radius: 15px;
    display: flex;
}

.container-login-func {
    display: flex;
    flex-direction: row-reverse;
    background-color: #D5CFF7 ;
}


.container-parte-movel {
    background-color: #D5CFF7;
    width: 210px;
    height: 450px;
    border-radius: 15px 0 0 15px;
    margin: 0px;
    
    
}
.container-parte-movel-fun{
    background-color: #8375D2;
    border-radius: 0px 15px 15px 0px;
}

.txt-adm{
    color: #4837A4;
    font-size: 22px;
    margin: 0;
    padding: 15px;
    text-align: center;
    
}

.btn-default{
    background-color: #4837A4;
    color: white;
    border: 0;
    height: 35px;
    width: 150px;
    border-radius: 70px;
    font-size: 18px;
    margin: 15px;
    text-align: center;
}


.btn-default:hover {
    height: 40px;
    width: 160px;
    transition: 0.5s;
    cursor: pointer;
}

.div-inpts {
    margin: 0px;
    text-align: center;
    padding-left: 158px;
    padding-top: 18px;
    
  
}

.div-inpts-func {
    padding-top: -1px ;
    padding-right: 136px;

  
}

.inpt-padrao{
    width: 265px;
    height: 15px;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.btn-entrar-adm{
    background-color: #D5CFF7;
    color: #8375D2; 
    height: 30px;
    width: 130px;
    font-size: 16px;
    
}

.btn-entrar-adm:hover{
    height: 35px;
    width: 135px;
    
}

.btn-entrar-func{
    background-color: #8375D2;
    height: 30px;
    width: 130px;
    font-size: 16px;
    
}

.btn-entrar-func:hover{
    height: 35px;
    width: 135px;
    
}

.imagem-3{
    width: 300px;
}

.imagem-6{
    width: 300px;
}

.txt-padrao-func{
    font-size: 17px;
    color: #4837A4;
}

.a-func {
   color: #ffffff; 
}

.txt-padrao {
    font-size: 17px;
}

.txt-func {
    color: #ffffff;;
}