body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
#titulo-container {
    color: white;
    text-align: center;
}

#container-btns {
   display: flex;
   justify-content: center;
   padding-top: 35px;
}

.conteudo-container-preLogin{
    margin-top: 80px;
}

.container-preLogin {
    background-color: #8375D2;
    width: 600px;
    height: 350px;
    border-radius: 15px;
    margin-top: 167px;
  
}

a {
    color: white;
}

.btn-default{
    background-color: #4837A4;
    color: white;
    border: 0;
    height: 45px;
    width: 200px;
    border-radius: 70px;
    font-size: 22px;
    margin: 15px;
    
}

.btn-default:hover {
    height: 50px;
    width: 210px;
    transition: 0.5s;
    cursor: pointer;
    background-color: #FFE57E;
   
}




.img-default{
    width: 300px;
    position: absolute;
}

#imagem-1-gestao {
    bottom: 336px;
    right: 150px;
   
   
  
}

#imagem-2-gestao {
    bottom: -2px;
    left: 220px;
}


/* Footer */
.footer {
    background-color: #8375D2;
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: -350px;
  }
  
  .footer b {
    font-family: PT Sans, sans-serif, Impact;
    color: #fffff0;
    font-size: larger;
  }
  
  
  .caixaFooter {
    max-width: 90%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
  }

  .logo {
      height: 60px;
  }
  
  .header{
      height: 80px;
  }