#titulo-container {
    color: white;
    text-align: center;
}

#container-btns {
   display: flex;
   justify-content: center;
   padding-top: 35px;
}

.conteudo-container-preLogin{
    margin-top: 80px;
}

.container-preLogin {
    background-color: #8375D2;
    width: 600px;
    height: 350px;
    border-radius: 15px;
    margin-top: 100px;
  
}

a {
    color: white;
}

.btn-default{
    background-color: #4837A4;
    color: white;
    border: 0;
    height: 45px;
    width: 200px;
    border-radius: 70px;
    font-size: 22px;
    margin: 15px;
    
}

.btn-default:hover {
    height: 50px;
    width: 210px;
    transition: 0.5s;
    cursor: pointer;
}




.img-default{
    width: 300px;
    position: fixed;
}

#imagem-1-gestao {
    bottom: 395px;
    right: 150px;
   
   
  
}

#imagem-2-gestao {
    bottom: 90px;
    left: 220px;
}
