body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #AA9FE7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Header */
  .header {
    background-color: #8375D2;
    width: 100%;
    height: 120px;
    position: fixed;
    margin-top: -20px;
  }
  
  .caixa {
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    height: 80px;
  }
  
  .header nav {
    float: right;
  }
  
  ul {
    list-style: none;
  }
  
  ul li:hover {
    color: #FFE57E;
  }
  
  ul li {
    font-family: PT Sans, sans-serif, Impact;
    color: #fffff0;
    display: inline;
    margin-left: 22px;
    font-size: larger;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
  }
  .nav_titulo_sobre{
    color: #FFE57E;

}

.pag_sobre {
    float: right;
    padding: 10% 0;
    margin: 0 auto;
    width: 100%;
    height: 480px;
}
.caixa_fundo {
    margin: 2% auto;
    background-color: #8375D2;
    border: 1px solid #FFE57E;
    height: 540px;
    width: 450px;
    box-shadow: -0 0 0.5em #FFE57E;
    transition-duration: 00.4s;
    margin-top: 30px;
    float: left;
    margin-left: 80px;
    padding-right: 50px;
    padding-left: 25px;
    
    
}
.titulo_box1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFE57E;
    padding-left: 15px;
    text-align: center;
   
}
.conteudo_box1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fffff0;
    text-align: justify;
    padding-left: 15px;
}
.primeira_img {
    margin-top: -220px;
    width: 100px;
    height: 100px;
    margin-right: 250px;
    float: right;
}
.caixa_fundo2 {
    background-color: #8375D2;
    border: 1px solid #FFE57E;
    height: 260px;
    width: 430px;
    box-shadow: -0 0 0.5em #FFE57E;
    transition-duration: 00.4s;
    margin-top: -572px;
    float: right;
    margin-right: 80px;
    padding-right: 35px;
    padding-left: 25px;
    
    
}
.titulo_box2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFE57E;
    padding-left: 15px;
    text-align: center;
   
}
.conteudo_box2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fffff0;
    text-align: justify;
    padding-left: 15px;
}
.titulo_box3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFE57E;
    text-align: center;

}
.hover_aqui :hover {
    color: #FFE57E;
    cursor: pointer;
    
}
a {
    text-decoration: none;
}